*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	width: 40vw;
	height: 15vh;
	font-family: sans-serif;
	font-size: 200%;
	padding: 4vw 3vh 3vw 8vh;
}

nav {
	width: 40vw;
	height: 15vh;
	position: relative; left: 55vw; bottom:15vh;
}

nav>div {
	display: inline-block;
	width: 10vw;
	height: 4vh;
	font-size: 100%;
	text-align: center;
	position: relative; top:65%; left: 20%;
}

nav>div:hover{
	background-color: orange;
}