*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}


nav{
	width: 100vw;
	height: 12vh;
	font-family: sans-serif;
	background-color: #708090;
	color: black;
}

nav > div {
	height: 5vh;
	padding: 0 1%;
	display: inline-block;
	text-align: center;
	position: relative; top:30px;
	line-height: 5vh;
	margin: 0px 10px 0px 10px;
}

nav>div:hover{
	background-color: white;
	border-bottom: 2px solid black;
}

body>img {
	max-height: 60vh;
	max-width: 60vw;
	position: relative; top: -700px; left:15px;
}

body>div#container2{
	height: 60vh;
	width:60%;
	margin-left: 25%;
	background-color: #fffaf0;
	padding: 5px 5px;
}

body>div#container3{
	height: 60vh;
	width:60%;
	margin-left: 25%;
	background-color: #f5deb3;
	padding: 5px 5px;
