*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	font-family: sans-serif;
	font-size: 250%;
	font-family: serif;
	padding: 4vh 3vw 3vh 15vw;
	background-color: #faebd7;
	color: #ffa07a;
}

nav {
	width: 40vw;
	height: 15vh;
	position: relative; left: 55vw; bottom:15vh;
}

nav>div {
	display: inline-block;
	width: 10vw;
	height: 4vh;
	font-size: 100%;
	text-align: center;
	position: relative; top:65%; left: 20%;
}

nav>div:hover{
	background-color: #ffa07a;
}

article>h1 {
	font-size: 200%;
	position: relative;left: 42vw;
	color: #ffa07a;
}

img#o {
	max-height: 60vh;
	max-width: 50vw;
	position: relative;left: 30vw;
}

img#t {
	max-height: 60vh;
	max-width: 50vw;
	position: relative;left: 15vw;
}

article>section {
	width: 90vw;
	line-height: 4vh;
	text-align: justify;
	padding: 3vh 6vw 3vh 6vw;
	margin:5vh;
	color: #008080;
	background-color:#faf0e6;
	position: relative; left: 2vw;
}

