div{
	width:100px;
	height: 100px;
	background-color:red;
	animation:baChange 1s ease-in infinite alternate;
}

@keyframes baChange{
	from{
		background-color: red;
	}
    to {
    	background-color: orange;
    }
}