*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

nav{
	width: 100px;
	height: 300px;
	font-family: sans-serif;
	background-color: #b0c4de;
	color: #778899	;

}
nav > div {
	top:5px;
	left: 5px;
	padding: 1px 1px;
	text-align: center;
	width:60px;
	height: 30px;
	position: relative; top:30px;
	color:#778899;

}

nav>div:hover{
	background-color: white;
	border-bottom: 2px solid black;
}