*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color:#faf0e6;
}

a {
	color: #778899;
}

header {
	font-family: sans-serif;
	font-size: 200%;
	font-family: serif;
	padding: 5vh 10vw 5vh 10vw;
	text-align: center;
}

header:hover{
	background-color: #8fbc8f;
}

img {
	max-height: 100vh;
	max-width: 90vw;
	position: relative; top: 5vh; left: 30vw;
}

h1#headline {
	color: #556b2f;
	position: relative; top: 2vh; left: 5vw; 
}

section#A1 {
	line-height: 4vh;
	text-align: justify;
	padding: 2vh 6vw 2vh 6vw;
	background-color: #faf0e6;
	color: #556b2f;
	font-family: serif;
	position: relative; top: 6vh;
}

section#A2 {
	line-height: 4vh;
	text-align: justify;
	padding: 3vh 6vw 3vh 6vw;
	background-color: #ffe4b5;
	color: #556b2f;
	font-family: serif;
	position: relative; top: 6vh;
}

section#A3 {
	line-height: 4vh;
	text-align: justify;
	padding: 2vh 6vw 2vh 6vw;
	background-color: #faf0e6;
	color: #556b2f;
	font-family: serif;
	position: relative; top: 6vh;
}