*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color:#faf0e6;
}

a {
	color: #778899;
}

header {
	font-family: sans-serif;
	font-size: 200%;
	font-family: serif;
	padding: 5vh 10vw 5vh 10vw;
	text-align: center;
}

header:hover{
	background-color: #8fbc8f;
}

article {
	font-size: 130%;
	font-family: serif;
	width: 70vw;
	line-height: 4vh;
	text-align: justify;
	padding: 3vh 6vw 3vh 6vw;
	color: #556b2f;
	position: relative;  left: 15vw;
}

h1#theme {
	position: relative; top: 3vh; left: 20vw;
	color: #778899;
}

img {
	max-height: 50vh;
	max-width: 40vw;
	position: relative; top: 7vh; left: 15vw;
}

img#forest {
	max-height: 50vh;
	max-width: 40vw;
	position: relative; bottom: 7vh; left: 20vw;
}

h1 {
	font-family: serif;
	position: relative;top: 7vh; left: 20vw;
	color: #778899;
}

h1#secondbook {
	font-family: serif;
	position: relative; bottom: 10vh; left: 40vw; 
	color: #778899;
}

