*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

header{
	width: 100%;
	height:40%;
	background-color: #5f9ea0;
	text-align: center;
	display: inline-block;

}

nav{
	top: 10%vh;
	left: 20%vw;
	width: 450px;
	height: 60px;
	font-family: sans-serif;
	display: inline-block;
	background-color: #5f9ea0;
	color: black;


}
nav > div {
	padding: 1px 1px;
	text-align: center;
	display: inline-block;
	width:30%;
	height: 50%;
	position: relative; top:30px;

}

nav>div:hover{
	background-color: white;
	border-bottom: 2px solid black;
}

body>div#container1{
	height: 30vh;
	width: 50%;
	background-color: #faf0e6;
	margin-left: 20%;
	margin-top: 5%;
	color: #556b2f;

}
